@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

/*Button to change keyboard testing*/

.container-size {
  width: 200px; /* Adjust the width as needed */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Set a transparent background color */
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%; /* Adjust the top position to center vertically */
  left: 90%; /* Keep the left position for the container centered */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items (buttons) on the left */
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px); /* Apply a blur effect to the background */
  -webkit-backdrop-filter: blur(9px);
}

.layout-label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.size-button {
  cursor: pointer;
  background-color: #808080; /* Default background color */
  color: white; /* Default text color */
  padding: 8px 16px; /* Adjust padding as needed */
  border: none;
  border-radius: 5px;
  margin-bottom: 5px; /* Add margin between buttons */
  align-self: flex-start; /* Align buttons to the left */
  transition: background-color 0.3s ease; /* Add a smooth transition */
}

.size-button:hover {
  background-color: #696969; /* Change the background color on hover */
}

/*Navigation*/

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #0f0f0f;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    font-weight: bold;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }


/*Sidebar*/

.sidebar{
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100% - 80px); /* Adjusted height to fit the remaining space */
    width: 78px;
    background: #6D1B40;
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
  }
  .sidebar.open{
    width: 250px;
  }
  .sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: right;
  }
  .sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip{
    display: none;
  }

  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #6D1B40;
  }
  .sidebar li a:hover{
    background: #FFF;
  }
  .sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101D;
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  .sidebar li.profile{
    position: fixed;
    height: 200px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #0f0f0f;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.open li.profile{
    width: 250px;
  }
  .sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .sidebar li.profile .name,
  .sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: wrap;
  }
  .sidebar:not(.open) .profile .name_job {
    display: none;
  }  
  .sidebar li.profile .job{
    font-size: 12px;
  }
  .sidebar .profile #info_box{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #0f0f0f;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }
  .sidebar.open .profile #info_box{
    width: 50px;
    background: none;
  }
  .sidebar.open li.profile .bx-info-circle {
    display: none;
  }
  
  .sidebar li.profile .bx-info-circle {
    display: block;
    color: #fff;
    height: 60px;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    transition: all 0.5s ease;
  }
 
  .home-section{
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
  }
  .home-section .text{
    display: inline-block;
    color: #11101d;
    font-size: 25px;
    font-weight: 500;
    margin: 18px
  }
  @media (max-width: 420px) {
    .sidebar li .tooltip{
      display: none;
    }
  }
  

  /*Type test*/

  .container {
    width: 80vmin;
    padding: 50px 30px;
    background-color: rgba(255, 255, 255, 0.8); /* Set a transparent background color */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    -webkit-backdrop-filter: blur(9px);
  }  
  .stats {
    text-align: right;
    font-size: 18px;
    margin-bottom: 30px;
  }
  .stats span {
    font-weight: 600;
  }
  #quote {
    text-align: justify;
    margin: 50px 0 30px 0;
  }
  textarea {
    resize: none;
    width: 100%;
    border-radius: 5px;
    padding: 10px 5px;
    font-size: 16px;
  }
  button {
    float: right;
    margin-top: 20px;
    background-color: #6D1B40;
    color: #ffffff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
  }
  .result {
    margin-top: 40px;
    display: none;
  }
  .result h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .wrapper {
    display: flex;
    justify-content: space-around;
  }
  .wrapper span {
    font-weight: 600;
  }
  .success {
    color: #44b267;
  }
  .fail {
    color: #e81c4e;
  }

  /*Color Change*/

  .container-sizeC {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(9px);
  }
  
  .colors {
    display: flex;
    flex-wrap: wrap; /* Wrap the colors to the next row */
    justify-content: flex-start; /* Start from the left */
  }
  
  .colors div {
    padding: 8px;
    width: 23%; /* Set the width for each color div to approximately 25% */
    margin: 1%; /* Add a margin between the color divs */
    box-sizing: border-box; /* Include padding and border in the width */
  }
  
  

